<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <% bs_class =
      case type.to_s
      when "notice" then "success"
      when "alert"  then "danger"
      else "info"
      end %>
  <div class="alert alert-<%= bs_class %> alert-dismissible fade show error-messages-narrow" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
